*
!.yarnrc.yml
!package.json
!deploy/sweep-runner
!server
**/node_modules
**/.yarn
**/.env
**/.env.*
**/*.env
**/tmp
**/tmp-*
**/build
**/coverage
**/faculty_data.json
**/backup
**/updates.csv
**/updates.json
server/src/config.ts
