valid_departments_cpy.txt
updates.csv
updates.json
sample_updates.json
node_modules/

server/node_modules/*
server/src/config.ts
server/.env

client/node_modules/*

notes.txt
toFix.md

.DS_Store

#Web scraper
web-scraper/my_paths.txt
web-scraper/toDo.txt
web-scraper/data
web-scraper/__pycache__